<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.happygoatstudios.bt"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/blowtorch_logo3" android:label="BlowTorch" android:theme="@android:style/Theme.NoTitleBar">
        <activity android:name="com.happygoatstudios.bt.launcher.Launcher"
                  android:label="BlowTorch"
                  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- android:windowSoftInputMode="adjustResize" -->
        <activity android:name="com.happygoatstudios.bt.window.MainWindow"
        		  android:windowSoftInputMode="adjustResize"
        		  android:label="BlowTorch"
        		  android:screenOrientation="landscape"
        		  
				  android:configChanges="orientation|screenLayout|keyboard|keyboardHidden"
        		  android:launchMode = "singleTask">
        		  <intent-filter>
        		  	<action android:name="com.happygoatstudios.bt.window.MainWindow"/>
        		  	<category android:name="android.intent.category.DEFAULT"/>
        		  </intent-filter>
        </activity>
        <activity android:name="com.happygoatstudios.bt.settings.HyperSettingsActivity"
        		  android:label="Settings Editor"
        		  
        		  android:screenOrientation="landscape"
        		  android:configChanges="orientation|screenLayout|keyboard|keyboardHidden"
        		  android:noHistory = "true">
        		  <intent-filter>
        		  	<action android:name="com.happygoatstudios.bt.settings.HyperSettingsActivity"/>
        		  	<category android:name="android.intent.category.DEFAULT"/>
        		  </intent-filter>
        </activity>
        <service android:name="com.happygoatstudios.bt.service.StellarService"
        		 android:process=":remote">
        		 <intent-filter>
        		 	<action android:name="com.happygoatstudios.bt.service.IStellarService"/>
        		 </intent-filter>
        </service>
        		  

    </application>
    <uses-sdk android:minSdkVersion="7" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	

</manifest> 