<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.happygoatstudios.bt"
      android:versionName="1.1.4" android:versionCode="20">
      
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="21"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
    <application android:icon="@drawable/blowtorch_logo3" android:label="BlowTorch" android:allowBackup="true" android:process="com.offsetnull.bt" android:hardwareAccelerated="true">
    	<meta-data android:value="3" android:name="BLOWTORCH_LUA_LIBS_VERSION"/>
     	<activity android:name="com.offsetnull.btfree.FreeLauncher"
                  android:label="BlowTorch">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.offsetnull.bt.launcher.Launcher"
                  android:label="BlowTorch"
                  >
        </activity>
        <!-- android:windowSoftInputMode="adjustResize" -->
        <activity android:name="com.offsetnull.bt.window.MainWindow"
        		  android:windowSoftInputMode="adjustPan|stateHidden"
        		  android:label="BlowTorch"
				  android:configChanges="orientation|keyboard|keyboardHidden|screenLayout|screenSize"
        		  android:launchMode = "singleTask">
        		  <intent-filter>
        		  	
        		  	<action android:name="com.offsetnull.bt.window.MainWindow.NORMAL_MODE"/>
        		  	<category android:name="android.intent.category.DEFAULT"/>
        		  </intent-filter>
        </activity>
        
        <service android:name="com.offsetnull.bt.service.StellarService"
        		 android:process=":stellar" android:exported="false">
        		 <intent-filter>
        		 	
        		 	<action android:name="com.offsetnull.bt.service.IStellarService.MODE_NORMAL"/>
        		 </intent-filter>
        </service>
        		  

    </application>
    


</manifest> 