<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.happygoatstudios.bttest"
      android:versionCode="55"
      android:versionName="2.0">
    <application android:icon="@drawable/blowtorch_logo3" android:label="BlowTorch TEST" android:process="com.offsetnull.bttest" android:hardwareAccelerated="true">
     	<meta-data android:value="5" android:name="BLOWTORCH_TEST_VERSION"/>
     	<meta-data android:value="95" android:name="BLOWTORCH_LUA_LIBS_VERSION"/>
     	<activity android:name="com.offsetnull.bttest.TestLauncher"
                  android:label="BlowTorch TEST">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.offsetnull.bt.launcher.Launcher"
                  android:label="BlowTorch"
                  >
        </activity>
        <!-- android:windowSoftInputMode="adjustResize" -->
        <activity android:name="com.offsetnull.bt.window.MainWindow"
        		  android:windowSoftInputMode="adjustPan|stateHidden"
        		  android:label="BlowTorch"
        		 
        		  
				  android:configChanges="orientation|keyboard|keyboardHidden|screenLayout|screenSize"
        		  android:launchMode = "singleTask">
        		  <intent-filter>
        		  	
        		  	<action android:name="com.offsetnull.bt.window.MainWindow.TEST_MODE"/>
        		  	<category android:name="android.intent.category.DEFAULT"/>
        		  </intent-filter>
        </activity>
        <activity android:name="com.offsetnull.bt.settings.HyperSettingsActivity"
        		  android:label="Settings Editor"
        		  
        		  
        		  android:configChanges="orientation|screenLayout|keyboard|keyboardHidden"
        		  android:noHistory = "true">
        		  <intent-filter>
        		  	<action android:name="com.offsetnull.bt.settings.HyperSettingsActivity"/>
        		  	<category android:name="android.intent.category.DEFAULT"/>
        		  </intent-filter>
        </activity>
        <service android:name="com.offsetnull.bt.service.StellarService"
        		 android:process=":stellar_test">
        		 <intent-filter>
        		 	
        		 	<action android:name="com.offsetnull.bt.service.IStellarService.MODE_TEST"/>
        		 
        		 </intent-filter>
        </service>
        		  
	
    </application>
    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="13"/>
    
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />

	
</manifest> 
